body {
  line-height: 1.5;
}
body, .app {
  background: #fff;
}

/* main page */

.page-title {
  padding: 10px 0;
  background: #10aded; /* LOADED */
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0,.3);
}
.page-title h1 {
  font-weight: 300;
  margin: 0;
  color: #fee; /* FEE */
}
.page-title p {
  color: #fee; /* FEE */
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

.bookshelf-title {
  border-bottom: 1px solid #dedede;
  font-weight: 300;
  margin: 20px;
}
.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #10aded; /* LOADED */
  background-image: url('./common/icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
  font-size: 0;
  transform: rotate(0);
  transition: .2s background ease-in, .2s transform ease-in;
}
.open-search a:hover,
.open-search a:active,
.open-search a:focus {
  background: #10aded; /* LOADED */
  background-image: url('./common/icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  transform: rotate(90deg);
}

/* app wide navigational elements */

.nav-link {
  padding: 1em 5px 1em;
  display: block;
  color: #5ad; /* SAD */
  text-decoration: none;
  transition: .2s color ease-in;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  color: #1e77e2; /* LETTER */
}

/* search page */

.search-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.search-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}
.search-results {
  margin: 100px 0 0;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: #fff;
  background-image: url('./common/icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}
.book-title,
.book-authors,
.book-details-link {
  font-size: 0.8em;
}
.book-title {
  margin-top: 10px;
}
.book-authors {
  color: #999;
}
.book-details-link {
  padding: 0;
  display: inline-block;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #10aded; /* LOADED */
  background-image: url('./common/icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: .2s background ease-in;
}
.book-shelf-changer:hover {
  background: #1ce; /* ICE */
  background-image: url('./common/icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px;
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
}
.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

/* book details */

.book-details {}
.book-details__info {
  padding: 20px;
}
.book-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.book-info__header {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  margin-bottom: 25px;
}
.book-info__image {
  flex-basis: 40%;
}
.book-info__image img {
  width: auto;
  height: auto;
  max-height: 500px;
}
.book-info__details {
  padding: 25px 0 0;
}

/* details list */

.details-list ul {
  margin: 0;
  padding: 0;
}
.details-list__item {
  align-items: baseline;
  display: flex;
  justify-content: flex-start;
  padding: 20px 5px;
  border-bottom: 1px solid #5ca1e5;
}
.details-list__item:first-of-type {
  padding-top: 0;
}
.details-list__item p {
  flex-basis: 48%;
  margin-right: 2%;
}
.details-list__item p:first-of-type {
  font-weight: 300;
}
.details-list__item p:last-of-type {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  margin-right: 0;
  overflow: hidden;
}

/* media queries */

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
  /*.bookshelf-title {
    margin: 0;
  }*/
  .book-details__info {
    width: 60%;
    margin: 50px auto 0 auto;
  }
  .book-info__details {
    flex-basis: 60%;
    padding: 0 20px;
  }
  .details-list__item p:first-of-type {
    flex-basis: 20%;
  }
  .details-list__item p:last-of-type {
    flex-basis: 76%;
  }
}